/*
 * -------------------------------------------------
 *  ramdaq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  genome = false
  sirv = false
  readPaths = false
  reads = "fastq_files/*{1,2}.fastq.gz"
  local_annot_dir = false
  single_end = false
  stranded = 'unstranded'
  saveReference = false
  sampleLevel = false
  outdir = './results'

  // Boilerplate options
  name = false
  multiqc_config = false
  email = false
  email_on_fail = false
  max_multiqc_email_size = 25.MB
  plaintext_email = false
  monochrome_logs = false
  help = false
  tracedir = "${params.outdir}/pipeline_info"
  custom_config_version = 'master'
  custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
  hostnames = false
  config_profile_description = false
  config_profile_contact = false
  config_profile_url = false

  // Defaults only, expecting to be overwritten
  max_memory = 16.GB
  max_cpus = 2
  max_time = 72.h
  entire_max_cpus = 8
  entire_max_memory = '32.GB'

  // Options: Fastqmcf
  maxReadLength = 75
  minReadLength = 36
  skew = 4
  quality = 30
  skip_trimming = false
  save_trimmed = false

  // Options: Hisat2
  softclipping = false
  hs_threads_num = 1
  min_mapped_reads = 500

  // Options: Bam2wig
  wigsum = 100000000

  // Options: RSEM
  rsem_threads_num = 4

  // Options: RSeQC
  min_intron = 40

  // Options: FeatureCounts
  extra_attributes = "gene_name"
  group_features = "gene_id"
  count_type = "exon"
  allow_multimap = true
  allow_overlap = true
  count_fractionally = true
  fc_threads_num = 1
  group_features_type = "gene_type" // Replace 'gene_type' with 'gene_biotype' when using Ensembl annotations

  // Options : ERCC copy number calculate
  spike_in_ercc = false
  spike_in_sirv = false
  spike_in_ercc_default_amount = '2e-7'

  // Options: For test acceleration
  sirv_coverage = false
}

// Container slug. Stable releases should specify release tag!
// Developmental code should specify :dev
process.container = 'myoshimura080822/ramdaq:v1.2'

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Load nf-core custom profiles from different Institutions
try {
  includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
  System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

profiles {
  conda { process.conda = "$projectDir/environment.yml" }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker {
    docker.enabled = true
    // Avoid this error:
    //   WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.
    // Testing this in nf-core after discussion here https://github.com/nf-core/tools/pull/351
    // once this is established and works well, nextflow might implement this behavior as new default.
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }

  apptainer {
    apptainer.enabled = true
    apptainer.autoMounts = true
  }
  
  test_SE_UST_M { includeConfig 'conf/test.SE.unstranded.mouse.config' }
  test_PE_UST_M { includeConfig 'conf/test.PE.unstranded.mouse.config' }
  test_SE_ST_M { includeConfig 'conf/test.SE.stranded.mouse.config' }
  test_PE_ST_M { includeConfig 'conf/test.PE.stranded.mouse.config' }

  test_SE_UST_H { includeConfig 'conf/test.SE.unstranded.human.config' }
  test_PE_UST_H { includeConfig 'conf/test.PE.unstranded.human.config' }
  test_SE_ST_H { includeConfig 'conf/test.SE.stranded.human.config' }
  test_PE_ST_H { includeConfig 'conf/test.PE.stranded.human.config' }

  test_SE_UST_M_1 { includeConfig 'conf/test.SE.unstranded.mouse.1sample.config' }
  test_H_LOCAL { includeConfig 'conf/test.local.human.config'}

  test_PE_ST_H_SIRV { includeConfig 'conf/test.PE.stranded.human.sirv.config' }
  test_PE_UST_H_SIRV { includeConfig 'conf/test.PE.unstranded.human.sirv.config' }

  test { includeConfig 'conf/test.config' }
}

// Load local_annotation.config
if (params.local_annot_dir) {
  includeConfig 'conf/local_annotation.config'
} else {
  includeConfig 'conf/remote_annotation.config'
}

// Export this variable to prevent local Python libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

manifest {
  name = 'rikenbit/ramdaq'
  author = 'Mika Yoshimura and Haruka Ozaki'
  homePage = 'https://github.com/rikenbit/ramdaq'
  description = 'This pipeline analyses data from full-length single-cell RNA sequencing (scRNA-seq) methods.'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '1.9.2'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}

executor {
    name = 'local'
    cpus = params.entire_max_cpus
    memory = params.entire_max_memory
}