// `run_basedir` and `out_dir` should be set so that:
// - Input directory path: "${run_basedir}/Data/Intensities/BaseCalls"
// - Output directory: "${out_dir}/fastq_files"
params{

    run_basedir = "run_basedir_path"
    out_dir = "output_dir_name"

}

docker {

    // Set `enabled = true` if you want to use Docker
    enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'

}

process {
    
    // You can specify here any property described
    // in the process directive and the executor sections. 

    // This means that the pipeline is executed using the local executor:
    executor = "local"

    // Below is an example of properties for executing jobs through
    // the SGE cluster. Remove the below `//`s if you want to use them:
    // executor = "sge"
    // queue = "anynode.q"
    // clusterOptions = "-S /bin/bash -l nc=4"

}
