// `proj_id` and `run_basedirs` should be set so that:
// - Input directory: "${run_basedir}/Data/Intensities/BaseCalls"
// - Output directory: "output_${proj_id}/${run_id}/01_fastq_files"
params{
    
    // Specify `proj_id`:
    proj_id = "RD20200827"
    
    // Specify `run_basedirs` by adding one or more pairs
    // of `run_id` and `run_basedir` like ["run_id", "run_basedir"]:
    run_basedirs = [
        ["200824_NS500723_0159_AH77HCBGXF", "/data/bso/200824_NS500723_0159_AH77HCBGXF"],
        //  ["another_run_id", "another_run_basedir"],
    ]

}


docker {

    // Set `enabled = true` if you want to use Docker
    enabled = false

}


process {
    
    // You can specify here any property described
    // in the process directive and the executor sections. 

    // This means that the pipeline is executed using the local executor:
    executor = "local"

    // Below is an example of properties for executing jobs through
    // the SGE cluster. Remove the below `//`s if you want to use them:
    // executor = "sge"
    // queue = "node07-10.q"
    // clusterOptions = "-S /bin/bash -l nc=4"

}
