/*
 * -------------------------------------------------
 *  Nextflow config file for download_references WF
 * -------------------------------------------------
 * Defines reference genomes download URL, using S3
 */

params {
  genomes {
    'GRCm39_vM35' {
      common_files = "GRCm39_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCm39_primary_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_vM35_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_vM35.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "8a697cb111ddeb94fa49358435758a50"
      hisat2_idx_md5sum = "9fa6d1678cc27468477c154b387056d0"
      hisat2_rrna_idx_md5sum = "b6a5f2b2417b819192607c13124d0118"
      annotation_gtf_md5sum = "63203a15785c34ddbb156199e4da85cb"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "37954ca78052bdbfb41092a3b3cef9ee"
      species = "mouse"
    }
    'GRCm39_vM33' {
      common_files = "GRCm39_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCm39_primary_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_vM33_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_vM33.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "8a697cb111ddeb94fa49358435758a50"
      hisat2_idx_md5sum = "9fa6d1678cc27468477c154b387056d0"
      hisat2_rrna_idx_md5sum = "b6a5f2b2417b819192607c13124d0118"
      annotation_gtf_md5sum = "464aa3bc701abeed17d5630eb9c531a6"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "204469d40345c16b02b7ca5b9da85317"
      species = "mouse"
    }
    'GRCm39_vM32' {
      common_files = "GRCm39_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCm39_primary_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_vM32_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_vM32.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "8a697cb111ddeb94fa49358435758a50"
      hisat2_idx_md5sum = "9fa6d1678cc27468477c154b387056d0"
      hisat2_rrna_idx_md5sum = "b6a5f2b2417b819192607c13124d0118"
      annotation_gtf_md5sum = "733180cc63a8ddad85fd77710d6f44fc"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "ffa8f63c98a2ee3f6492bf2812be5c6f"
      species = "mouse"
    }
    'GRCm39_vM30' {
      common_files = "GRCm39_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCm39_primary_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_vM30_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_vM30.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "8a697cb111ddeb94fa49358435758a50"
      hisat2_idx_md5sum = "9fa6d1678cc27468477c154b387056d0"
      hisat2_rrna_idx_md5sum = "b6a5f2b2417b819192607c13124d0118"
      annotation_gtf_md5sum = "3de854bd958a79e0d3ee17676109373a"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "72a73c131d782a136fd032d075253645"
      species = "mouse"
    }
    'GRCm39_vM29' {
      common_files = "GRCm39_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCm39_primary_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_vM29_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_vM29.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "8a697cb111ddeb94fa49358435758a50"
      hisat2_idx_md5sum = "9fa6d1678cc27468477c154b387056d0"
      hisat2_rrna_idx_md5sum = "b6a5f2b2417b819192607c13124d0118"
      annotation_gtf_md5sum = "179ca20691521311d4c7f77c027df646"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "8be04894797c453b8f4944b73bbb36ae"
      species = "mouse"
    }
    'GRCm39_vM28' {
      common_files = "GRCm39_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCm39_primary_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_vM28_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_vM28.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "8a697cb111ddeb94fa49358435758a50"
      hisat2_idx_md5sum = "9fa6d1678cc27468477c154b387056d0"
      hisat2_rrna_idx_md5sum = "b6a5f2b2417b819192607c13124d0118"
      annotation_gtf_md5sum = "131ccce85daf8fbe17a9c1bc75672ec5"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "b4967d8235fe961ef135eea8510a38ff"
      species = "mouse"
    }
    'GRCm39_vM27' {
      common_files = "GRCm39_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCm39_primary_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_vM27_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_vM27.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "8a697cb111ddeb94fa49358435758a50"
      hisat2_idx_md5sum = "9fa6d1678cc27468477c154b387056d0"
      hisat2_rrna_idx_md5sum = "b6a5f2b2417b819192607c13124d0118"
      annotation_gtf_md5sum = "6478b318693beb802ee1b18d921a30e7"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "1fbd451da9db071934a8e990d28a02b1"
      species = "mouse"
    }
    'GRCm39_vM26' {
      common_files = "GRCm39_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCm39_primary_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_vM26_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_vM26.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "8a697cb111ddeb94fa49358435758a50"
      hisat2_idx_md5sum = "9fa6d1678cc27468477c154b387056d0"
      hisat2_rrna_idx_md5sum = "b6a5f2b2417b819192607c13124d0118"
      annotation_gtf_md5sum = "45932cec4354f1dc9258da66df7babe4"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "1926ba571554290e8b2dc84b4b1a1d6b"
      species = "mouse"
    }
    'GRCm39_vM25' {
      common_files = "GRCm39_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCm39_primary_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_vM25_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_vM25.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "8a697cb111ddeb94fa49358435758a50"
      hisat2_idx_md5sum = "9fa6d1678cc27468477c154b387056d0"
      hisat2_rrna_idx_md5sum = "b6a5f2b2417b819192607c13124d0118"
      annotation_gtf_md5sum = "cd673c9b4f9c9d22020db432ddf25325"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "024ce69d0dce0f64b76be15e9aa38002"
      species = "mouse"
    }
    'NCBIM37_vM1' {
      common_files = "NCBIM37_common.tar.gz"
      hisat2_idx = "hisat2_index_NCBIM37_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_vM1_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_vM1.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "a7fb2c9f25db92416c3bb9e2a47e8a42"
      hisat2_idx_md5sum = "a024df78864e35ebe1165785fc3041e8"
      hisat2_rrna_idx_md5sum = "b6a5f2b2417b819192607c13124d0118"
      annotation_gtf_md5sum = "2bb8f24457f7098fa8dccd49f11d1039"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "1aed58d44bbc30dee45e2bc8d693df80"
      species = "mouse"
    }
    'GRCh38_v46' {
      common_files = "GRCh38_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCh38pri_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_v46_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_v46.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "9870914bff5fde9db25869577fe1e1d6"
      hisat2_idx_md5sum = "cdc18e6a2a812212e11e8d0c1ecbe0fc"
      hisat2_rrna_idx_md5sum = "c762c5e66b1633ae5a8f7c081fc7ee4a"
      annotation_gtf_md5sum = "17e757068aa22b47daae06550b663544"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "260c5aa8ec7200397aae983ec2de6630"
      species = "human"
    }
    'GRCh38_v44' {
      common_files = "GRCh38_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCh38pri_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_v44_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_v44.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "9870914bff5fde9db25869577fe1e1d6"
      hisat2_idx_md5sum = "cdc18e6a2a812212e11e8d0c1ecbe0fc"
      hisat2_rrna_idx_md5sum = "c762c5e66b1633ae5a8f7c081fc7ee4a"
      annotation_gtf_md5sum = "94f4cd4a7965574acc30702fef0139f4"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "2d4a29b7c1677a979404a99efb33561a"
      species = "human"
    }
    'GRCh38_v43' {
      common_files = "GRCh38_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCh38pri_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_v43_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_v43.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "9870914bff5fde9db25869577fe1e1d6"
      hisat2_idx_md5sum = "cdc18e6a2a812212e11e8d0c1ecbe0fc"
      hisat2_rrna_idx_md5sum = "c762c5e66b1633ae5a8f7c081fc7ee4a"
      annotation_gtf_md5sum = "f6b40d53c0700f74fb49bda655f0654f"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "3fcfc0ee515122b1c89cbc62d62e785c"
      species = "human"
    }
    'GRCh38_v41' {
      common_files = "GRCh38_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCh38pri_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_v41_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_v41.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "9870914bff5fde9db25869577fe1e1d6"
      hisat2_idx_md5sum = "cdc18e6a2a812212e11e8d0c1ecbe0fc"
      hisat2_rrna_idx_md5sum = "c762c5e66b1633ae5a8f7c081fc7ee4a"
      annotation_gtf_md5sum = "cf5548ea0bdc71b6088e61e7a2656b78"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "673773da9dba41ebcf959cb77fd4891b"
      species = "human"
    }
    'GRCh38_v40' {
      common_files = "GRCh38_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCh38pri_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_v40_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_v40.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "9870914bff5fde9db25869577fe1e1d6"
      hisat2_idx_md5sum = "cdc18e6a2a812212e11e8d0c1ecbe0fc"
      hisat2_rrna_idx_md5sum = "c762c5e66b1633ae5a8f7c081fc7ee4a"
      annotation_gtf_md5sum = "f8a9bbc916f67c649b45e03513390604"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "80f5db14a1bf6ba46c2b4c7b015764c0"
      species = "human"
    }
    'GRCh38_v39' {
      common_files = "GRCh38_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCh38pri_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_v39_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_v39.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "9870914bff5fde9db25869577fe1e1d6"
      hisat2_idx_md5sum = "cdc18e6a2a812212e11e8d0c1ecbe0fc"
      hisat2_rrna_idx_md5sum = "c762c5e66b1633ae5a8f7c081fc7ee4a"
      annotation_gtf_md5sum = "35846992115f48bbe6f2d735fb45d314"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "1eba4dafb206ad26b0374b4b61d6861f"
      species = "human"
    }
    'GRCh38_v38' {
      common_files = "GRCh38_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCh38pri_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_v38_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_v38.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "9870914bff5fde9db25869577fe1e1d6"
      hisat2_idx_md5sum = "cdc18e6a2a812212e11e8d0c1ecbe0fc"
      hisat2_rrna_idx_md5sum = "c762c5e66b1633ae5a8f7c081fc7ee4a"
      annotation_gtf_md5sum = "04645800cb0df56eeea9dfb15a4f15b8"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "3ecb2120258dc1885b6c1404c2055582"
      species = "human"
    }
    'GRCh38_v37' {
      common_files = "GRCh38_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCh38pri_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_v37_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_v37.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "9870914bff5fde9db25869577fe1e1d6"
      hisat2_idx_md5sum = "cdc18e6a2a812212e11e8d0c1ecbe0fc"
      hisat2_rrna_idx_md5sum = "c762c5e66b1633ae5a8f7c081fc7ee4a"
      annotation_gtf_md5sum = "8ed08e517572fd1b2a9f7604dfb7b16a"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "af3d28dc2cf5f0de45c932ea74962727"
      species = "human"
    }
    'GRCh38_v35' {
      common_files = "GRCh38_common.tar.gz"
      hisat2_idx = "hisat2_v220_index_GRCh38pri_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_v35_primary_assembly_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_v35.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "9870914bff5fde9db25869577fe1e1d6"
      hisat2_idx_md5sum = "cdc18e6a2a812212e11e8d0c1ecbe0fc"
      hisat2_rrna_idx_md5sum = "c762c5e66b1633ae5a8f7c081fc7ee4a"
      annotation_gtf_md5sum = "db32ce5eefdb5630fc4e990b5c50aeee"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "9d527ebde166aa312d3a91602c69427e"
      species = "human"
    }
    'GRCh37_v19' {
      common_files = "GRCh37_common.tar.gz"
      hisat2_idx = "hisat2_index_GRCh37_ERCC.tar.gz"
      hisat2_rrna_idx = "hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      annotation_gtf = "gencode_v19_annotation.tar.gz"
      hisat2_sirv_idx = "hisat2_v220_index_SIRVome.tar.gz"
      rsem_allgene_idx = "RSEM_bowtie2_index_gencode_v19.tar.gz"
      rsem_sirv_idx = "RSEM_bowtie2_index_SIRVome.tar.gz"
      common_files_md5sum = "f01523eb7f91c9e12746cb90fd2b3473"
      hisat2_idx_md5sum = "daccb210767ef29e2dece0cdf537d207"
      hisat2_rrna_idx_md5sum = "c762c5e66b1633ae5a8f7c081fc7ee4a"
      annotation_gtf_md5sum = "e6e2e3536ccc646ad5b10854892099c3"
      hisat2_sirv_idx_md5sum = "268ab7907181808fa6ce5fbe13f931e3"
      rsem_sirv_idx_md5sum = "92968c1c8d29f1aa1516c4529a483e30"
      rsem_allgene_idx_md5sum = "680fc5ac08e3d4c12764fc498481902f"
      species = "human"
    }
  }
}
