/*
 * -------------------------------------------------
 *  Nextflow config file for local annotation paths
 * -------------------------------------------------
 * Defines reference genomes, using local paths
 * Files can be donwloaded from
 * https://bioinformatics.riken.jp/ramdaq/
 */

params {
  genomes {
    'GRCm39_vM30_chr19' {
      adapter = "${params.local_annot_dir}/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "${params.local_annot_dir}/github_CI_testdata/hisat2_index_GRCm39_chr19/*.ht2"
      hisat2_rrna_idx = "${params.local_annot_dir}/hisat2_index_Mouse_rRNA_12_mito_5_45/*.ht2"
      chrsize = "${params.local_annot_dir}/github_CI_testdata/GRCm39.genome.chr19.fa.fai"
      bed = "${params.local_annot_dir}/github_CI_testdata/gencode.vM30.primary_assembly.annotation.chr19.bed"
      gtf = "${params.local_annot_dir}/github_CI_testdata/gencode.vM30.primary_assembly.annotation.chr19.gtf"
      mt_gtf = "${params.local_annot_dir}/gencode.vM30.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "${params.local_annot_dir}/Mouse_GRCm39_rmsk_rRNA_Refseq_45S_merge.gtf"
      histone_gtf = "${params.local_annot_dir}/gencode.vM30.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "${params.local_annot_dir}/hisat2_v220_index_SIRVome/*.ht2"
      rsem_sirv_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_SIRVome/*"
      rsem_allgene_idx = "${params.local_annot_dir}/github_CI_testdata/RSEM_bowtie2_index_gencode_vM30_chr19/*"
      nuclearRNA_qc = "mouse"
    }
    'GRCm39_vM30' {
      adapter = "${params.local_annot_dir}/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "${params.local_annot_dir}/hisat2_v220_index_GRCm39_primary_ERCC/*.ht2"
      hisat2_rrna_idx = "${params.local_annot_dir}/hisat2_index_Mouse_rRNA_12_mito_5_45/*.ht2"
      chrsize = "${params.local_annot_dir}/GRCm39.primary_assembly.genome.fa.fai"
      bed = "${params.local_annot_dir}/gencode.vM30.primary_assembly.annotation.bed"
      gtf = "${params.local_annot_dir}/gencode.vM30.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "${params.local_annot_dir}/gencode.vM30.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "${params.local_annot_dir}/Mouse_GRCm39_rmsk_rRNA_Refseq_45S_merge.gtf"
      histone_gtf = "${params.local_annot_dir}/gencode.vM30.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "${params.local_annot_dir}/hisat2_v220_index_SIRVome/*.ht2"
      rsem_sirv_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_SIRVome/*"
      rsem_allgene_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_gencode_vM30/*"
      nuclearRNA_qc = "mouse"
    }
    'GRCm39_vM29' {
      adapter = "${params.local_annot_dir}/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "${params.local_annot_dir}/hisat2_v220_index_GRCm39_primary_ERCC/*.ht2"
      hisat2_rrna_idx = "${params.local_annot_dir}/hisat2_index_Mouse_rRNA_12_mito_5_45/*.ht2"
      chrsize = "${params.local_annot_dir}/GRCm39.primary_assembly.genome.fa.fai"
      bed = "${params.local_annot_dir}/gencode.vM29.primary_assembly.annotation.bed"
      gtf = "${params.local_annot_dir}/gencode.vM29.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "${params.local_annot_dir}/gencode.vM29.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "${params.local_annot_dir}/Mouse_GRCm39_rmsk_rRNA_Refseq_45S_merge.gtf"
      histone_gtf = "${params.local_annot_dir}/gencode.vM29.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "${params.local_annot_dir}/hisat2_v220_index_SIRVome/*.ht2"
      rsem_sirv_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_SIRVome/*"
      rsem_allgene_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_gencode_vM29/*"
      nuclearRNA_qc = "mouse"
    }
    'GRCm39_vM28' {
      adapter = "${params.local_annot_dir}/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "${params.local_annot_dir}/hisat2_v220_index_GRCm39_primary_ERCC/*.ht2"
      hisat2_rrna_idx = "${params.local_annot_dir}/hisat2_index_Mouse_rRNA_12_mito_5_45/*.ht2"
      chrsize = "${params.local_annot_dir}/GRCm39.primary_assembly.genome.fa.fai"
      bed = "${params.local_annot_dir}/gencode.vM28.primary_assembly.annotation.bed"
      gtf = "${params.local_annot_dir}/gencode.vM28.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "${params.local_annot_dir}/gencode.vM28.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "${params.local_annot_dir}/Mouse_GRCm39_rmsk_rRNA_Refseq_45S_merge.gtf"
      histone_gtf = "${params.local_annot_dir}/gencode.vM28.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "${params.local_annot_dir}/hisat2_v220_index_SIRVome/*.ht2"
      rsem_sirv_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_SIRVome/*"
      rsem_allgene_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_gencode_vM28/*"
      nuclearRNA_qc = "mouse"
    }
    'GRCm39_vM27' {
      adapter = "${params.local_annot_dir}/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "${params.local_annot_dir}/hisat2_v220_index_GRCm39_primary_ERCC/*.ht2"
      hisat2_rrna_idx = "${params.local_annot_dir}/hisat2_index_Mouse_rRNA_12_mito_5_45/*.ht2"
      chrsize = "${params.local_annot_dir}/GRCm39.primary_assembly.genome.fa.fai"
      bed = "${params.local_annot_dir}/gencode.vM27.primary_assembly.annotation.bed"
      gtf = "${params.local_annot_dir}/gencode.vM27.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "${params.local_annot_dir}/gencode.vM27.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "${params.local_annot_dir}/Mouse_GRCm39_rmsk_rRNA_Refseq_45S_merge.gtf"
      histone_gtf = "${params.local_annot_dir}/gencode.vM27.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "${params.local_annot_dir}/hisat2_v220_index_SIRVome/*.ht2"
      rsem_sirv_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_SIRVome/*"
      rsem_allgene_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_gencode_vM27/*"
      nuclearRNA_qc = "mouse"
    }
    'GRCm39_vM26' {
      adapter = "${params.local_annot_dir}/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "${params.local_annot_dir}/hisat2_v220_index_GRCm39_primary_ERCC/*.ht2"
      hisat2_rrna_idx = "${params.local_annot_dir}/hisat2_index_Mouse_rRNA_12_mito_5_45/*.ht2"
      chrsize = "${params.local_annot_dir}/GRCm39.primary_assembly.genome.fa.fai"
      bed = "${params.local_annot_dir}/gencode.vM26.primary_assembly.annotation.bed"
      gtf = "${params.local_annot_dir}/gencode.vM26.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "${params.local_annot_dir}/gencode.vM26.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "${params.local_annot_dir}/Mouse_GRCm39_rmsk_rRNA_Refseq_45S_merge.gtf"
      histone_gtf = "${params.local_annot_dir}/gencode.vM26.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "${params.local_annot_dir}/hisat2_v220_index_SIRVome/*.ht2"
      rsem_sirv_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_SIRVome/*"
      rsem_allgene_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_gencode_vM26/*"
      nuclearRNA_qc = "mouse"
    }
    'GRCm38_vM25' {
      adapter = "${params.local_annot_dir}/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "${params.local_annot_dir}/hisat2_v220_index_GRCm38_primary_ERCC/*.ht2"
      hisat2_rrna_idx = "${params.local_annot_dir}/hisat2_index_Mouse_rRNA_12_mito_5_45/*.ht2"
      chrsize = "${params.local_annot_dir}/GRCm38.primary_assembly.genome.fa.fai"
      bed = "${params.local_annot_dir}/gencode.vM25.primary_assembly.annotation.bed"
      gtf = "${params.local_annot_dir}/gencode.vM25.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "${params.local_annot_dir}/gencode.vM25.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "${params.local_annot_dir}/Mouse_mm10_rmsk_rRNA_Refseq_45S_merge.gtf"
      histone_gtf = "${params.local_annot_dir}/gencode.vM25.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "${params.local_annot_dir}/hisat2_v220_index_SIRVome/*.ht2"
      rsem_sirv_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_SIRVome/*"
      rsem_allgene_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_gencode_vM25/*"
      nuclearRNA_qc = "mouse"
    }
    'GRCh38_v41' {
      adapter = "${params.local_annot_dir}/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "${params.local_annot_dir}/hisat2_v220_index_GRCh38pri_ERCC/*.ht2"
      hisat2_rrna_idx = "${params.local_annot_dir}/hisat2_index_Human_rRNA_12_mito_5_45/*.ht2"
      chrsize = "${params.local_annot_dir}/GRCh38.primary_assembly.genome.fa.fai"
      bed = "${params.local_annot_dir}/gencode.v41.primary_assembly.annotation.bed"
      gtf = "${params.local_annot_dir}/gencode.v41.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "${params.local_annot_dir}/gencode.v41.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "${params.local_annot_dir}/Human_GRCh38_rmsk_rRNA_RefSeq_RNA45SN1_5_merge.gtf"
      histone_gtf = "${params.local_annot_dir}/gencode.v41.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "${params.local_annot_dir}/hisat2_v220_index_SIRVome/*.ht2"
      rsem_sirv_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_SIRVome/*"
      rsem_allgene_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_gencode_v41/*"
      nuclearRNA_qc = "human"
    }
    'GRCh38_v40' {
      adapter = "${params.local_annot_dir}/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "${params.local_annot_dir}/hisat2_v220_index_GRCh38pri_ERCC/*.ht2"
      hisat2_rrna_idx = "${params.local_annot_dir}/hisat2_index_Human_rRNA_12_mito_5_45/*.ht2"
      chrsize = "${params.local_annot_dir}/GRCh38.primary_assembly.genome.fa.fai"
      bed = "${params.local_annot_dir}/gencode.v40.primary_assembly.annotation.bed"
      gtf = "${params.local_annot_dir}/gencode.v40.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "${params.local_annot_dir}/gencode.v40.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "${params.local_annot_dir}/Human_GRCh38_rmsk_rRNA_RefSeq_RNA45SN1_5_merge.gtf"
      histone_gtf = "${params.local_annot_dir}/gencode.v40.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "${params.local_annot_dir}/hisat2_v220_index_SIRVome/*.ht2"
      rsem_sirv_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_SIRVome/*"
      rsem_allgene_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_gencode_v40/*"
      nuclearRNA_qc = "human"
    }
    'GRCh38_v39' {
      adapter = "${params.local_annot_dir}/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "${params.local_annot_dir}/hisat2_v220_index_GRCh38pri_ERCC/*.ht2"
      hisat2_rrna_idx = "${params.local_annot_dir}/hisat2_index_Human_rRNA_12_mito_5_45/*.ht2"
      chrsize = "${params.local_annot_dir}/GRCh38.primary_assembly.genome.fa.fai"
      bed = "${params.local_annot_dir}/gencode.v39.primary_assembly.annotation.bed"
      gtf = "${params.local_annot_dir}/gencode.v39.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "${params.local_annot_dir}/gencode.v39.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "${params.local_annot_dir}/Human_GRCh38_rmsk_rRNA_RefSeq_RNA45SN1_5_merge.gtf"
      histone_gtf = "${params.local_annot_dir}/gencode.v39.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "${params.local_annot_dir}/hisat2_v220_index_SIRVome/*.ht2"
      rsem_sirv_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_SIRVome/*"
      rsem_allgene_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_gencode_v39/*"
    }
    'GRCh38_v38' {
      adapter = "${params.local_annot_dir}/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "${params.local_annot_dir}/hisat2_v220_index_GRCh38pri_ERCC/*.ht2"
      hisat2_rrna_idx = "${params.local_annot_dir}/hisat2_index_Human_rRNA_12_mito_5_45/*.ht2"
      chrsize = "${params.local_annot_dir}/GRCh38.primary_assembly.genome.fa.fai"
      bed = "${params.local_annot_dir}/gencode.v38.primary_assembly.annotation.bed"
      gtf = "${params.local_annot_dir}/gencode.v38.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "${params.local_annot_dir}/gencode.v38.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "${params.local_annot_dir}/Human_GRCh38_rmsk_rRNA_RefSeq_RNA45SN1_5_merge.gtf"
      histone_gtf = "${params.local_annot_dir}/gencode.v38.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "${params.local_annot_dir}/hisat2_v220_index_SIRVome/*.ht2"
      rsem_sirv_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_SIRVome/*"
      rsem_allgene_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_gencode_v38/*"
      nuclearRNA_qc = "human"
    }
    'GRCh38_v37' {
      adapter = "${params.local_annot_dir}/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "${params.local_annot_dir}/hisat2_v220_index_GRCh38pri_ERCC/*.ht2"
      hisat2_rrna_idx = "${params.local_annot_dir}/hisat2_index_Human_rRNA_12_mito_5_45/*.ht2"
      chrsize = "${params.local_annot_dir}/GRCh38.primary_assembly.genome.fa.fai"
      bed = "${params.local_annot_dir}/gencode.v37.primary_assembly.annotation.bed"
      gtf = "${params.local_annot_dir}/gencode.v37.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "${params.local_annot_dir}/gencode.v37.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "${params.local_annot_dir}/Human_GRCh38_rmsk_rRNA_RefSeq_RNA45SN1_5_merge.gtf"
      histone_gtf = "${params.local_annot_dir}/gencode.v37.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "${params.local_annot_dir}/hisat2_v220_index_SIRVome/*.ht2"
      rsem_sirv_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_SIRVome/*"
      rsem_allgene_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_gencode_v37/*"
      nuclearRNA_qc = "human"
    }
    'GRCh38_v35' {
      adapter = "${params.local_annot_dir}/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "${params.local_annot_dir}/hisat2_v220_index_GRCh38pri_ERCC/*.ht2"
      hisat2_rrna_idx = "${params.local_annot_dir}/hisat2_index_Human_rRNA_12_mito_5_45/*.ht2"
      chrsize = "${params.local_annot_dir}/GRCh38.primary_assembly.genome.fa.fai"
      bed = "${params.local_annot_dir}/gencode.v35.primary_assembly.annotation.bed"
      gtf = "${params.local_annot_dir}/gencode.v35.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "${params.local_annot_dir}/gencode.v35.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "${params.local_annot_dir}/Human_GRCh38_rmsk_rRNA_RefSeq_RNA45SN1_5_merge.gtf"
      histone_gtf = "${params.local_annot_dir}/gencode.v35.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "${params.local_annot_dir}/hisat2_v220_index_SIRVome/*.ht2"
      rsem_sirv_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_SIRVome/*"
      rsem_allgene_idx = "${params.local_annot_dir}/RSEM_bowtie2_index_gencode_v35/*"
      nuclearRNA_qc = "human"
    }
  }
}
