/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'untar_index' {
            publish_dir     = 'reference_files'
        }
        'fastqc' {
            args            = '--quiet'
            suffix          = '.raw'
            publish_dir     = 'fastqc_raw'
        }
        'fastqc_trim' {
            args            = '--quiet'
            suffix          = '.trim'
            publish_dir     = 'fastqc_trim'
        }
        'fastqmcf' {
            args            = ''
            suffix          = '.trim'
            publish_dir     = 'fastqmcf'
        }
        'hisat2_genome' {
            args             = ''
            publish_dir     = 'hisat2_genome'
        }
        'hisat2_rrna' {
            args            = '-k 5 -X 800 --sp 1000,1000'
            suffix          = '.rrna'
            publish_dir     = 'hisat2_rrna'
        }
        'merge_summaryfile_hisat2' {
            args            = 's:.summary.txt::'
            args2           = '-f1,4'
            suffix          = 'hisat2_totalseq'
            publish_dir     = 'merged_output_files'
        }
        'bam2wig' {
            args            = ''
            publish_dir     = 'bigwig_files'
        }
        'adjust_bed_noncoding' {
            args            = ''
            publish_dir     = 'rseqc'
        }
        'rseqc' {
            args            = ''
            publish_dir     = 'rseqc'
        }
        'readcoverage' {
            args            = ''
            publish_dir     = 'rseqc'
        }
        'featurecounts_all_gtf' {
            args            = ''
            suffix          = '.allgene'
            publish_dir     = 'featurecounts_all_gtf'
        }
        'featurecounts_mt_gtf' {
            args            = ''
            suffix          = '.mt'
            publish_dir     = 'featurecounts_mt_gtf'
        }
        'featurecounts_histone_gtf' {
            args            = ''
            suffix          = '.histone'
            publish_dir     = 'featurecounts_histone_gtf'
        }
        'merge_featurecounts_allgene' {
            args            = '-n +2'
            args2           = '-f1,6,7'
            args3           = '-f8'
            suffix          = 'allgene'
            publish_dir     = 'merged_output_files'
        }
        'merge_featurecounts_mt' {
            args            = '-n +2'
            args2           = '-f1,6,7'
            args3           = '-f8'
            suffix          = 'mt'
            publish_dir     = 'merged_output_files'
        }
        'merge_featurecounts_histone' {
            args            = '-n +2'
            args2           = '-f1,6,7'
            args3           = '-f8'
            suffix          = 'histone'
            publish_dir     = 'merged_output_files'
        }
    }
}