/*
 * -------------------------------------------------
 *  Nextflow config file for remote annotation paths
 * -------------------------------------------------
 * Defines reference genomes, using URLs
 * Files can be donwloaded from
 * https://bioinformatics.riken.jp/ramdaq/
 */

params {
  genomes {
    'GRCm39_vM30' {
      adapter = "https://zenodo.org/record/7219697/files/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "https://zenodo.org/record/7219697/files/hisat2_v220_index_GRCm39_primary_ERCC.tar.gz"
      hisat2_rrna_idx = "https://zenodo.org/record/7219697/files/hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      chrsize = "https://zenodo.org/record/7219697/files/GRCm39.primary_assembly.genome.fa.fai"
      bed = "https://zenodo.org/record/7219697/files/gencode.vM30.primary_assembly.annotation.bed"
      gtf = "https://zenodo.org/record/7219697/files/gencode.vM30.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "https://zenodo.org/record/7219697/files/gencode.vM30.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "https://zenodo.org/record/7219697/files/Mouse_GRCm39_rmsk_rRNA_Refseq_45S_merge.gtf"
      histone_gtf = "https://zenodo.org/record/7219697/files/gencode.vM30.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "https://zenodo.org/record/7219697/files/hisat2_v220_index_SIRVome.tar.gz"
      rsem_sirv_idx = "https://zenodo.org/record/7219697/files/RSEM_bowtie2_index_SIRVome.tar.gz"
      rsem_allgene_idx = "https://zenodo.org/record/7219697/files/RSEM_bowtie2_index_gencode_vM30.tar.gz"
      nuclearRNA_qc = "mouse"
    }
    'GRCm39_vM29' {
      adapter = "https://zenodo.org/record/7219697/files/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "https://zenodo.org/record/7219697/files/hisat2_v220_index_GRCm39_primary_ERCC.tar.gz"
      hisat2_rrna_idx = "https://zenodo.org/record/7219697/files/hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      chrsize = "https://zenodo.org/record/7219697/files/GRCm39.primary_assembly.genome.fa.fai"
      bed = "https://zenodo.org/record/7219697/files/gencode.vM29.primary_assembly.annotation.bed"
      gtf = "https://zenodo.org/record/7219697/files/gencode.vM29.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "https://zenodo.org/record/7219697/files/gencode.vM29.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "https://zenodo.org/record/7219697/files/Mouse_GRCm39_rmsk_rRNA_Refseq_45S_merge.gtf"
      histone_gtf = "https://zenodo.org/record/7219697/files/gencode.vM29.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "https://zenodo.org/record/7219697/files/hisat2_v220_index_SIRVome.tar.gz"
      rsem_sirv_idx = "https://zenodo.org/record/7219697/files/RSEM_bowtie2_index_SIRVome.tar.gz"
      rsem_allgene_idx = "https://zenodo.org/record/7219697/files/RSEM_bowtie2_index_gencode_vM29.tar.gz"
      nuclearRNA_qc = "mouse"
    }
    'GRCm39_vM28' {
      adapter = "https://zenodo.org/record/7219697/files/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "https://zenodo.org/record/7219697/files/hisat2_v220_index_GRCm39_primary_ERCC.tar.gz"
      hisat2_rrna_idx = "https://zenodo.org/record/7219697/files/hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      chrsize = "https://zenodo.org/record/7219697/files/GRCm39.primary_assembly.genome.fa.fai"
      bed = "https://zenodo.org/record/7219697/files/gencode.vM28.primary_assembly.annotation.bed"
      gtf = "https://zenodo.org/record/7219697/files/gencode.vM28.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "https://zenodo.org/record/7219697/files/gencode.vM28.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "https://zenodo.org/record/7219697/files/Mouse_GRCm39_rmsk_rRNA_Refseq_45S_merge.gtf"
      histone_gtf = "https://zenodo.org/record/7219697/files/gencode.vM28.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "https://zenodo.org/record/7219697/files/hisat2_v220_index_SIRVome.tar.gz"
      rsem_sirv_idx = "https://zenodo.org/record/7219697/files/RSEM_bowtie2_index_SIRVome.tar.gz"
      rsem_allgene_idx = "https://zenodo.org/record/7219697/files/RSEM_bowtie2_index_gencode_vM28.tar.gz"
      nuclearRNA_qc = "mouse"
    }
    'GRCm39_vM27' {
      adapter = "https://zenodo.org/record/7219697/files/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "https://zenodo.org/record/7219697/files/hisat2_v220_index_GRCm39_primary_ERCC.tar.gz"
      hisat2_rrna_idx = "https://zenodo.org/record/7219697/files/hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      chrsize = "https://zenodo.org/record/7219697/files/GRCm39.primary_assembly.genome.fa.fai"
      bed = "https://zenodo.org/record/7219697/files/gencode.vM27.primary_assembly.annotation.bed"
      gtf = "https://zenodo.org/record/7219697/files/gencode.vM27.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "https://zenodo.org/record/7219697/files/gencode.vM27.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "https://zenodo.org/record/7219697/files/Mouse_GRCm39_rmsk_rRNA_Refseq_45S_merge.gtf"
      histone_gtf = "https://zenodo.org/record/7219697/files/gencode.vM27.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "https://zenodo.org/record/7219697/files/hisat2_v220_index_SIRVome.tar.gz"
      rsem_sirv_idx = "https://zenodo.org/record/7219697/files/RSEM_bowtie2_index_SIRVome.tar.gz"
      rsem_allgene_idx = "https://zenodo.org/record/7219697/files/RSEM_bowtie2_index_gencode_vM27.tar.gz"
      nuclearRNA_qc = "mouse"
    }
    'GRCm39_vM26' {
      adapter = "https://zenodo.org/record/7219697/files/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "https://zenodo.org/record/7219697/files/hisat2_v220_index_GRCm39_primary_ERCC.tar.gz"
      hisat2_rrna_idx = "https://zenodo.org/record/7219697/files/hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      chrsize = "https://zenodo.org/record/7219697/files/GRCm39.primary_assembly.genome.fa.fai"
      bed = "https://zenodo.org/record/7219697/files/gencode.vM26.primary_assembly.annotation.bed"
      gtf = "https://zenodo.org/record/7219697/files/gencode.vM26.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "https://zenodo.org/record/7219697/files/gencode.vM26.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "https://zenodo.org/record/7219697/files/Mouse_GRCm39_rmsk_rRNA_Refseq_45S_merge.gtf"
      histone_gtf = "https://zenodo.org/record/7219697/files/gencode.vM26.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "https://zenodo.org/record/7219697/files/hisat2_v220_index_SIRVome.tar.gz"
      rsem_sirv_idx = "https://zenodo.org/record/7219697/files/RSEM_bowtie2_index_SIRVome.tar.gz"
      rsem_allgene_idx = "https://zenodo.org/record/7219697/files/RSEM_bowtie2_index_gencode_vM26.tar.gz"
      nuclearRNA_qc = "mouse"
    }
    'GRCm38_vM25' {
      adapter = "https://zenodo.org/record/7219697/files/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "https://zenodo.org/record/7219697/files/hisat2_v220_index_GRCm38_primary_ERCC.tar.gz"
      hisat2_rrna_idx = "https://zenodo.org/record/7219697/files/hisat2_index_Mouse_rRNA_12_mito_5_45.tar.gz"
      chrsize = "https://zenodo.org/record/7219697/files/GRCm38.primary_assembly.genome.fa.fai"
      bed = "https://zenodo.org/record/7219697/files/gencode.vM25.primary_assembly.annotation.bed"
      gtf = "https://zenodo.org/record/7219697/files/gencode.vM25.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "https://zenodo.org/record/7219697/files/gencode.vM25.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "https://zenodo.org/record/7219697/files/Mouse_mm10_rmsk_rRNA_Refseq_45S_merge.gtf"
      histone_gtf = "https://zenodo.org/record/7219697/files/gencode.vM25.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "https://zenodo.org/record/7219697/files/hisat2_v220_index_SIRVome.tar.gz"
      rsem_sirv_idx = "https://zenodo.org/record/7219697/files/RSEM_bowtie2_index_SIRVome.tar.gz"
      rsem_allgene_idx = "https://zenodo.org/record/7219697/files/RSEM_bowtie2_index_gencode_vM25.tar.gz"
      nuclearRNA_qc = "mouse"
    }
    'GRCh38_v41' {
      adapter = "https://zenodo.org/record/7218068/files/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "https://zenodo.org/record/7218068/files/hisat2_v220_index_GRCh38pri_ERCC.tar.gz"
      hisat2_rrna_idx = "https://zenodo.org/record/7218068/files/hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      chrsize = "https://zenodo.org/record/7218068/files/GRCh38.primary_assembly.genome.fa.fai"
      bed = "https://zenodo.org/record/7218068/files/gencode.v41.primary_assembly.annotation.bed"
      gtf = "https://zenodo.org/record/7218068/files/gencode.v41.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "https://zenodo.org/record/7218068/files/gencode.v41.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "https://zenodo.org/record/7218068/files/Human_GRCh38_rmsk_rRNA_RefSeq_RNA45SN1_5_merge.gtf"
      histone_gtf = "https://zenodo.org/record/7218068/files/gencode.v41.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "https://zenodo.org/record/7218068/files/hisat2_v220_index_SIRVome.tar.gz"
      rsem_sirv_idx = "https://zenodo.org/record/7218068/files/RSEM_bowtie2_index_SIRVome.tar.gz"
      rsem_allgene_idx = "https://zenodo.org/record/7218068/files/RSEM_bowtie2_index_gencode_v41.tar.gz"
      nuclearRNA_qc = "human"
    }
    'GRCh38_v40' {
      adapter = "https://zenodo.org/record/7218068/files/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "https://zenodo.org/record/7218068/files/hisat2_v220_index_GRCh38pri_ERCC.tar.gz"
      hisat2_rrna_idx = "https://zenodo.org/record/7218068/files/hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      chrsize = "https://zenodo.org/record/7218068/files/GRCh38.primary_assembly.genome.fa.fai"
      bed = "https://zenodo.org/record/7218068/files/gencode.v40.primary_assembly.annotation.bed"
      gtf = "https://zenodo.org/record/7218068/files/gencode.v40.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "https://zenodo.org/record/7218068/files/gencode.v40.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "https://zenodo.org/record/7218068/files/Human_GRCh38_rmsk_rRNA_RefSeq_RNA45SN1_5_merge.gtf"
      histone_gtf = "https://zenodo.org/record/7218068/files/gencode.v40.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "https://zenodo.org/record/7218068/files/hisat2_v220_index_SIRVome.tar.gz"
      rsem_sirv_idx = "https://zenodo.org/record/7218068/files/RSEM_bowtie2_index_SIRVome.tar.gz"
      rsem_allgene_idx = "https://zenodo.org/record/7218068/files/RSEM_bowtie2_index_gencode_v40.tar.gz"
      nuclearRNA_qc = "human"
    }
    'GRCh38_v39' {
      adapter = "https://zenodo.org/record/7218068/files/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "https://zenodo.org/record/7218068/files/hisat2_v220_index_GRCh38pri_ERCC.tar.gz"
      hisat2_rrna_idx = "https://zenodo.org/record/7218068/files/hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      chrsize = "https://zenodo.org/record/7218068/files/GRCh38.primary_assembly.genome.fa.fai"
      bed = "https://zenodo.org/record/7218068/files/gencode.v39.primary_assembly.annotation.bed"
      gtf = "https://zenodo.org/record/7218068/files/gencode.v39.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "https://zenodo.org/record/7218068/files/gencode.v39.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "https://zenodo.org/record/7218068/files/Human_GRCh38_rmsk_rRNA_RefSeq_RNA45SN1_5_merge.gtf"
      histone_gtf = "https://zenodo.org/record/7218068/files/gencode.v39.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "https://zenodo.org/record/7218068/files/hisat2_v220_index_SIRVome.tar.gz"
      rsem_sirv_idx = "https://zenodo.org/record/7218068/files/RSEM_bowtie2_index_SIRVome.tar.gz"
      rsem_allgene_idx = "https://zenodo.org/record/7218068/files/RSEM_bowtie2_index_gencode_v39.tar.gz"
      nuclearRNA_qc = "human"
    }
    'GRCh38_v38' {
      adapter = "https://zenodo.org/record/7218068/files/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "https://zenodo.org/record/7218068/files/hisat2_v220_index_GRCh38pri_ERCC.tar.gz"
      hisat2_rrna_idx = "https://zenodo.org/record/7218068/files/hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      chrsize = "https://zenodo.org/record/7218068/files/GRCh38.primary_assembly.genome.fa.fai"
      bed = "https://zenodo.org/record/7218068/files/gencode.v38.primary_assembly.annotation.bed"
      gtf = "https://zenodo.org/record/7218068/files/gencode.v38.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "https://zenodo.org/record/7218068/files/gencode.v38.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "https://zenodo.org/record/7218068/files/Human_GRCh38_rmsk_rRNA_RefSeq_RNA45SN1_5_merge.gtf"
      histone_gtf = "https://zenodo.org/record/7218068/files/gencode.v38.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "https://zenodo.org/record/7218068/files/hisat2_v220_index_SIRVome.tar.gz"
      rsem_sirv_idx = "https://zenodo.org/record/7218068/files/RSEM_bowtie2_index_SIRVome.tar.gz"
      rsem_allgene_idx = "https://zenodo.org/record/7218068/files/RSEM_bowtie2_index_gencode_v38.tar.gz"
      nuclearRNA_qc = "human"
    }
    'GRCh38_v37' {
      adapter = "https://zenodo.org/record/7218068/files/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "https://zenodo.org/record/7218068/files/hisat2_v220_index_GRCh38pri_ERCC.tar.gz"
      hisat2_rrna_idx = "https://zenodo.org/record/7218068/files/hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      chrsize = "https://zenodo.org/record/7218068/files/GRCh38.primary_assembly.genome.fa.fai"
      bed = "https://zenodo.org/record/7218068/files/gencode.v37.primary_assembly.annotation.bed"
      gtf = "https://zenodo.org/record/7218068/files/gencode.v37.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "https://zenodo.org/record/7218068/files/gencode.v37.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "https://zenodo.org/record/7218068/files/Human_GRCh38_rmsk_rRNA_RefSeq_RNA45SN1_5_merge.gtf"
      histone_gtf = "https://zenodo.org/record/7218068/files/gencode.v37.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "https://zenodo.org/record/7218068/files/hisat2_v220_index_SIRVome.tar.gz"
      rsem_sirv_idx = "https://zenodo.org/record/7218068/files/RSEM_bowtie2_index_SIRVome.tar.gz"
      rsem_allgene_idx = "https://zenodo.org/record/7218068/files/RSEM_bowtie2_index_gencode_v37.tar.gz"
      nuclearRNA_qc = "human"
    }
    'GRCh38_v35' {
      adapter = "https://zenodo.org/record/7218068/files/all_sequencing_WTA_adopters.fa"
      hisat2_idx = "https://zenodo.org/record/7218068/files/hisat2_v220_index_GRCh38pri_ERCC.tar.gz"
      hisat2_rrna_idx = "https://zenodo.org/record/7218068/files/hisat2_index_Human_rRNA_12_mito_5_45.tar.gz"
      chrsize = "https://zenodo.org/record/7218068/files/GRCh38.primary_assembly.genome.fa.fai"
      bed = "https://zenodo.org/record/7218068/files/gencode.v35.primary_assembly.annotation.bed"
      gtf = "https://zenodo.org/record/7218068/files/gencode.v35.primary_assembly.annotation.ERCC.gtf"
      mt_gtf = "https://zenodo.org/record/7218068/files/gencode.v35.primary_assembly.annotation.mt.gtf"
      rrna_gtf = "https://zenodo.org/record/7218068/files/Human_GRCh38_rmsk_rRNA_RefSeq_RNA45SN1_5_merge.gtf"
      histone_gtf = "https://zenodo.org/record/7218068/files/gencode.v35.primary_assembly.annotation.histone.gtf"
      hisat2_sirv_idx = "https://zenodo.org/record/7218068/files/hisat2_v220_index_SIRVome.tar.gz"
      rsem_sirv_idx = "https://zenodo.org/record/7218068/files/RSEM_bowtie2_index_SIRVome.tar.gz"
      rsem_allgene_idx = "https://zenodo.org/record/7218068/files/RSEM_bowtie2_index_gencode_v35.tar.gz"
      nuclearRNA_qc = "human"
    }
  }
}
