/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run rikenbit/ramdaq -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data

  // TODO: Give any required params for the test so that command line flags are not needed
  single_end = false
  stranded = 'fr-firststrand'
  genome = 'GRCm39_vM26'
  
  readPaths = [
    ['SRR8890408', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890408_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890408_2.100K.fastq.gz']],
    ['SRR8890409', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890409_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890409_2.100K.fastq.gz']],
    ['SRR8890410', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890410_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890410_2.100K.fastq.gz']],
    ['SRR8890411', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890411_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890411_2.100K.fastq.gz']],
    ['SRR8890414', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890414_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890414_2.100K.fastq.gz']],
    ['SRR8890415', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890415_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890415_2.100K.fastq.gz']],
    ['SRR8890416', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890416_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890416_2.100K.fastq.gz']],
    ['SRR8890417', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890417_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_PE/SRR8890417_2.100K.fastq.gz']],
  ]

  outdir = 'results_PE_ST_M'
}
