/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run rikenbit/ramdaq -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
 
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 1
  max_memory = 4.GB
  max_time = 48.h

  // Input data

  // TODO: Give any required params for the test so that command line flags are not needed
  single_end = true
  stranded = 'fr-firststrand'
  genome = 'GRCm39_vM29'

  readPaths = [
    ['SRR7993829', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_SE/SRR7993829_1.100K.fastq.gz']],
    ['SRR7993830', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_SE/SRR7993830_1.100K.fastq.gz']],
    ['SRR7993832', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_SE/SRR7993832_1.100K.fastq.gz']],
    ['SRR7993833', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_SE/SRR7993833_1.100K.fastq.gz']],
    ['SRR7993835', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_SE/SRR7993835_1.100K.fastq.gz']],
    ['SRR7993836', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_SE/SRR7993836_1.100K.fastq.gz']],
    ['SRR7993838', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_SE/SRR7993838_1.100K.fastq.gz']],
    ['SRR7993839', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/stranded_SE/SRR7993839_1.100K.fastq.gz']],
  ]
  
  outdir = 'results_SE_ST_M'
}
