/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run rikenbit/ramdaq -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data

  // TODO: Give any required params for the test so that command line flags are not needed
  single_end = false
  genome = 'GRCm39_vM28'
  
  readPaths = [
    ['SRR5516315', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516315_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516315_2.100K.fastq.gz']],
    ['SRR5516316', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516316_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516316_2.100K.fastq.gz']],
    ['SRR5516318', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516318_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516318_2.100K.fastq.gz']],
    ['SRR5516319', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516319_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516319_2.100K.fastq.gz']],
    ['SRR5516332', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516332_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516332_2.100K.fastq.gz']],
    ['SRR5516333', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516333_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516333_2.100K.fastq.gz']],
    ['SRR5516335', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516335_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516335_2.100K.fastq.gz']],
    ['SRR5516336', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516336_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516336_2.100K.fastq.gz']]
  ]

  outdir = 'results_PE_UST_M'
  
}
