/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run rikenbit/ramdaq -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
 
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 4.GB
  max_time = 48.h

  // Input data

  // TODO: Give any required params for the test so that command line flags are not needed
  single_end = true
  genome = 'GRCh38_v40'
  
  readPaths = [
    ['SRR8452729', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/human/unstranded_SE/SRR8452729_1.100K.fastq.gz']],
    ['SRR8452730', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/human/unstranded_SE/SRR8452730_1.100K.fastq.gz']],
    ['SRR8452731', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/human/unstranded_SE/SRR8452731_1.100K.fastq.gz']],
    ['SRR8452732', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/human/unstranded_SE/SRR8452732_1.100K.fastq.gz']],
    ['SRR8452733', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/human/unstranded_SE/SRR8452733_1.100K.fastq.gz']],
    ['SRR8452734', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/human/unstranded_SE/SRR8452734_1.100K.fastq.gz']],
    ['SRR8452735', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/human/unstranded_SE/SRR8452735_1.100K.fastq.gz']],
    ['SRR8452736', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/human/unstranded_SE/SRR8452736_1.100K.fastq.gz']],
  ]
  
  outdir = 'results_SE_UST_H'
}
