/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/ramdaq -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
 
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
  // TODO nf-core: Give any required params for the test so that command line flags are not needed
  single_end = true
  stranded = 'fr-firststrand'

  readPaths = [
    ['SRR7993829', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/stranded_SE/SRR7993829_1.100K.fastq.gz']],
    ['SRR7993830', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/stranded_SE/SRR7993830_1.100K.fastq.gz']],
    ['SRR7993832', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/stranded_SE/SRR7993832_1.100K.fastq.gz']],
    ['SRR7993833', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/stranded_SE/SRR7993833_1.100K.fastq.gz']],
    ['SRR7993835', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/stranded_SE/SRR7993835_1.100K.fastq.gz']],
    ['SRR7993836', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/stranded_SE/SRR7993836_1.100K.fastq.gz']],
    ['SRR7993838', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/stranded_SE/SRR7993838_1.100K.fastq.gz']],
    ['SRR7993839', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/stranded_SE/SRR7993839_1.100K.fastq.gz']],
  ]
  
  // Genome references
  adapter = 'https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_annotation/mouse/all_sequencing_WTA_adopters.fa'
  hisat2_idx = 'https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_annotation/mouse/hisat2_v220_index_GRCm38_primary_ERCC.tar.gz'
  chrsize = 'https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_annotation/mouse/GRCm38.primary_assembly.genome.fa.fai'
  bed = 'https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_annotation/mouse/gencode.vM25.primary_assembly.annotation.bed'
  gtf = 'https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_annotation/mouse/gencode.vM25.primary_assembly.annotation.ERCC.gtf'
  mt_gtf = 'https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_annotation/mouse/gencode.vM25.primary_assembly.annotation.mt.gtf'
  rrna_gtf = 'https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_annotation/mouse/mm10_rmsk_rRNA4.5S_Refseq_45S4.5Smerge_all.gtf'
  histone_gtf = 'https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_annotation/mouse/gencode.vM25.primary_assembly.annotation.histone.gtf'
}
