/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/ramdaq -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
 
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
  // TODO nf-core: Give any required params for the test so that command line flags are not needed
  single_end = true
  
  readPaths = [
    ['SRR5516338', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/unstranded_SE/SRR5516338_1.100K.fastq.gz']],
    ['SRR5516339', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/unstranded_SE/SRR5516339_1.100K.fastq.gz']],
    ['SRR5516340', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/unstranded_SE/SRR5516340_1.100K.fastq.gz']],
    ['SRR5516341', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/unstranded_SE/SRR5516341_1.100K.fastq.gz']],
    ['SRR5516354', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/unstranded_SE/SRR5516354_1.100K.fastq.gz']],
    ['SRR5516355', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/unstranded_SE/SRR5516355_1.100K.fastq.gz']],
    ['SRR5516356', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/unstranded_SE/SRR5516356_1.100K.fastq.gz']],
    ['SRR5516357', ['https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_test_data/mouse/unstranded_SE/SRR5516357_1.100K.fastq.gz']],
  ]
  
  // Genome references
  adapter = 'https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_annotation/mouse/all_sequencing_WTA_adopters.fa'
  hisat2_idx = 'https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_annotation/mouse/hisat2_v220_index_GRCm38_primary_ERCC.tar.gz'
  chrsize = 'https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_annotation/mouse/GRCm38.primary_assembly.genome.fa.fai'
  bed = 'https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_annotation/mouse/gencode.vM25.primary_assembly.annotation.bed'
  gtf = 'https://bioinformatics.riken.jp/ramdaq_nfcore/ramdaq_annotation/mouse/gencode.vM25.primary_assembly.annotation.ERCC.gtf'
}
