/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run rikenbit/ramdaq.nf -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  single_end = false
  
  readPaths = [
    ['SRR5516315', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516315_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516315_2.100K.fastq.gz']],
    ['SRR5516316', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516316_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516316_2.100K.fastq.gz']],
    ['SRR5516318', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516318_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516318_2.100K.fastq.gz']],
    ['SRR5516319', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516319_1.100K.fastq.gz', 'https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_PE/SRR5516319_2.100K.fastq.gz']],
  ]
  
  // Genome references
  adapter = 'https://bioinformatics.riken.jp/ramdaq/ramdaq_annotation/mouse/all_sequencing_WTA_adopters.fa'
  hisat2_idx = 'https://bioinformatics.riken.jp/ramdaq/ramdaq_annotation/mouse/hisat2_index_GRCm38_primary_chr19.tar.gz'
  chrsize = 'https://bioinformatics.riken.jp/ramdaq/ramdaq_annotation/mouse/GRCm38.primary_assembly.genome.chr19.fa.fai'
  bed = 'https://bioinformatics.riken.jp/ramdaq/ramdaq_annotation/mouse/gencode.vM25.primary_assembly.annotation.chr19.bed'
  gtf = 'https://bioinformatics.riken.jp/ramdaq/ramdaq_annotation/mouse/gencode.vM25.primary_assembly.annotation.chr19.gtf'
  mt_gtf = 'https://bioinformatics.riken.jp/ramdaq/ramdaq_annotation/mouse/gencode.vM25.primary_assembly.annotation.mt.gtf'
  rrna_gtf = 'https://bioinformatics.riken.jp/ramdaq/ramdaq_annotation/mouse/Mouse_mm10_rmsk_rRNA_Refseq_45S_merge.gtf'
  histone_gtf = 'https://bioinformatics.riken.jp/ramdaq/ramdaq_annotation/mouse/gencode.vM25.primary_assembly.annotation.histone.gtf'
}
