/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run rikenbit/ramdaq -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
 
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data

  // TODO: Give any required params for the test so that command line flags are not needed
  single_end = true
  genome = 'GRCm39_vM28'
  
  readPaths = [
    ['SRR5516338', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_SE/SRR5516338_1.100K.fastq.gz']],
    ['SRR5516339', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_SE/SRR5516339_1.100K.fastq.gz']],
    ['SRR5516340', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_SE/SRR5516340_1.100K.fastq.gz']],
    ['SRR5516341', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_SE/SRR5516341_1.100K.fastq.gz']],
    ['SRR5516354', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_SE/SRR5516354_1.100K.fastq.gz']],
    ['SRR5516355', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_SE/SRR5516355_1.100K.fastq.gz']],
    ['SRR5516356', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_SE/SRR5516356_1.100K.fastq.gz']],
    ['SRR5516357', ['https://bioinformatics.riken.jp/ramdaq/ramdaq_test_data/mouse/unstranded_SE/SRR5516357_1.100K.fastq.gz']],
  ]
  
  outdir = 'results_SE_UST_M'
  
}
