name: CI (mouse SE UST, UST_1 and ST data)
# This workflow is triggered on pushes and PRs to the repository.
# It runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on: [push, pull_request]

jobs:
  test:
    env:
      NXF_VER: ${{ matrix.nxf_ver }}
      NXF_ANSI_LOG: false
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Nextflow versions: check pipeline minimum and current latest
        nxf_ver: ['']
    steps:
      - uses: actions/checkout@v2
      - name: Crean env
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/
      - name: Pull docker image
        run: |
          docker pull myoshimura080822/ramdaq:v1.2
      - name: Run pipeline with test data
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test_SE_UST_M,docker
          nextflow run ${GITHUB_WORKSPACE} -profile test_SE_UST_M_1,docker
          nextflow run ${GITHUB_WORKSPACE} -profile test_SE_ST_M,docker
      #- name: Deploy to ramdaq-mouse-se-ust.surge.sh
      #  uses: dswistowski/surge-sh-action@v1
      #  with:
      #    domain: 'ramdaq-mouse-se-ust.surge.sh'
      #    project: './results_SE_UST_M/MultiQC'
      #    login: ${{ secrets.SURGE_LOGIN }}
      #    token: ${{ secrets.SURGE_TOKEN }}
      #- name: Deploy to ramdaq-mouse-se-ust_1.surge.sh
      #  uses: dswistowski/surge-sh-action@v1
      #  with:
      #    domain: 'ramdaq-mouse-se-ust_1.surge.sh'
      #    project: './results_SE_UST_M_1/MultiQC'
      #    login: ${{ secrets.SURGE_LOGIN }}
      #    token: ${{ secrets.SURGE_TOKEN }}
      #- name: Deploy to ramdaq-mouse-se-st.surge.sh
      #  uses: dswistowski/surge-sh-action@v1
      #  with:
      #    domain: 'ramdaq-mouse-se-st.surge.sh'
      #    project: './results_SE_ST_M/MultiQC'
      #    login: ${{ secrets.SURGE_LOGIN }}
      #    token: ${{ secrets.SURGE_TOKEN }}


